body {
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(images/chickenbackground.jpg);
  background-size: cover;
}

main {
  background-color: white;
  border: 5px solid #005200;
  margin-bottom: 40px;
  margin-top: 40px;

}
.outputLayout {
  display: inline-block;
}

/*Header and Footer*/

.headerfooter {
	background-color: white;
  background-color: white;
  border: 5px solid #005200;
  margin-bottom: 40px;
  margin-top: 40px;
}
.footerlayout {
	display: inline;
}
.navbar {
  display: inline-block;
  height: 30px;
  width: 80px;
  color: #005200;
  background-color: #99C299;
  text-align: center;
}
#tinytext {
	font-size: 14px;
	color: #193119;
	padding-left: 30px;
	padding-top: 28px;
}
.headfootnav {
	padding-right: 40px;
  text-align: center;
}
a {
  text-decoration: none;
  color: #193119;
  font-family: 'Abel', sans-serif;
}
a:hover {
	color: black;
}
#footerimage {
	float: left;
  width: 200px;
  height: 200px;
}

.socialicons {
	float: right;
	padding-right: 20px;
}

#aboutUsChickens {
  text-align: center;
  width: 650px;
  margin-left: 175px;
  margin-right: 175px;

}

/*Information*/
.links {
	display: block;
	text-align: center;
}
.linkheader {
	font-family: 'Pacifico', cursive;
}
.aboutlayout {
	display: inline-block;
}
