 #cover {
   width: 101%;
   height: 100%;
   opacity: 0.5;
 }
.BOTTOM {
  position: relative;left: 60px;
  font-family: 'Abel', sans-serif;
}
.checkbox.six.columns {
  font-size: 24px;
  font-family: 'Abel', sans-serif;
}
.outputLayout {
  margin: 50px;
  display: inline;
  padding-bottom: 15px;
}
#chickenoutput {
  float: left;
}
#eggoutput {
  float: right;
}
.dropdown {
  margin: 40px;
  text-align: center;
}
#homeChicken {
  width: 600px;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 30px;
}
#ischecked {
  float: right;
  display: inline;
  font-size: 24px;
  margin: 20px;
}
#chickencheck {
  float: left;
  display: inline;
  font-size: 24px;
}
/*Header and Footer*/
.aboutlayout {
  position: relative;
  display: inline-block;
  padding-top: 30px;
}
.socialicons {
  float: right;
  padding-right: 10px;
  padding-bottom: 15px;
}
.headerfooter {
	background-color: white;
  border: 5px solid #77c298;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
}
.footerlayout {
	display: block;
  position: relative;
  margin: 0px;
}
.TOP {
  font-family: 'Pacifico', cursive;
  color: #77c298;
  font-size: 75px; 
  display: inline;
  padding-top: 10px;
}
.navblock {
  display: block;
  height: 49px;
  background-color: #77c298;
  text-align: center;
}
.navbar {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 2px;
}
.menulinks {
  font-size: 25px;
  color: white;
  text-decoration: none;
  font-family: 'Abel', sans-serif;
  margin-bottom: 2px;
}
#tinytext {
	font-size: 14px;
	color: #193119;
  padding-top: 10px;
}
#headerimage {
  position: relative;
  display: inline-block;
  width: 150px;
  float: left;
  padding-top: 20px;
}
.socialicons {
	float: right;
  padding-top: 10px;
	padding-right: 20px;
}
#aboutUsChickens {
  text-align: center;
  width: 650px;
  margin-left: 175px;
  margin-right: 175px;
}
/*Information page*/
.links {
	display: block;
	text-align: center;
}
.aboutlayout {
	display: inline-block;
}
.infolinks {
  text-decoration: none;
  color: #666666;
  font-family: 'Abel', sans-serif;
}
